.accordion-inverse-info.card .card-header a{
    color: #000 !important;   
}

.accordion-inverse-info.card .card-header a:before {
    color: #E6E6E6 !important;
}

.accordion-inverse-info {
    background:  #E6E6E6;
    color: #000
 
}

body, html{
    background-color: #eee;
}

.btn-info {
    color:#000;
    background-color:#FFF;
    border-color:#E6E6E6;
}
.content-wrapper{
    min-height: 70vh;
    /*height: 770px;*/
    height: 95% !important;
    background-color: #eee;
   
}

/*footer {
    width: 100%;
    position: relative; 
    bottom: 0; 
    margin-top: 5%;
    height: 80px;
}*/

footer {
 
    margin-top: 15px;
}

header{
    width: 100%; 
    height: 100%;  
    position: fixed; 
    top: 0;
    z-index:100; 
}


.navbar-color {
    background-color:#FFF;
}
    
.sidebar {
    height: 110%;
    position: fixed;  
    min-height: 0% !important; 
}

.sidebar .nav .nav-item.nav-category .nav-link {
    color:#FE9A2E;
}



.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info,.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:hover,.btn.btn-info {
    color:#000;
}
    
.btn-info:hover,.btn-info:not([disabled]):not(.disabled):active,.btn-info:not([disabled]):not(.disabled).active,.show > .btn-info.dropdown-toggle {
    color:#000;
    background-color:#E6E6E6;
    border-color:#FFF;
}
    
#div-rbtns,.sidebar .nav .nav-item .nav-link {
    color:#FFF;
}

.table thead th {
    color:#FE9A2E; 
}

.content-wrapper{
    padding-bottom: 0%;
}

.dataTables_empty{
   background-color:#E6E6E6;
}

.custom-mouse-position{
    color:black;
}

code{
    color: #007bff;
}

.sorting::after{
    color:white;
}

.sorting::before{
    color:white;
}

.sorting_asc::after{
    color: white;
    border-color:white;
}

.sorting_asc::before{
    color: white;
    border-color:white;
}

.sorting_desc::after{
    color: white;
    border-color:white;
}

.sorting_desc::before{
    color: white;
    border-color:white;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #E6E6E6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}

.text-color{
    color:#FE9A2E;
}



/*Estilos de botones por revisar los demas*/

.btn-dark{
    background-color:#32323d;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-dark:hover{
    color:#FE9A2E !important;
}

.orange{
    color:#FE9A2E;
}
/*revisar
div.map-table {
    overflow-x: scroll;
    margin-top: 10px;
}*/
/*estilos de prueba

th, td, p, input {
    font:14px Verdana;
}
table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
}
*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.dataTables_filter{
    font-family: "Open Sans" , sans-serif;
    font-size: 16px;
}
.div_t{
    margin-top:20px;
    margin-bottom: 30px;
}
input,.form-control,.form-control-sm{
    font-size: 14px;
    font-weight: unset !important;
    font-family: "Open Sans" , sans-serif;
}

#myDataSetTable{
    margin-top: 10px;
}

.menu{
    height: 38.8542px !important;
}

.exportar{
    text-decoration:none;
}

.color-exportar{
    background-color: #FE9A2E;
    border-color:#FE9A2E;

}

.color-exportar:hover{
    background-color:#f78913;
    border-color:#f78913;
    color:#32323d !important;
}

