/* STYLES ADDED BY DAVID OSORIO */

.navbar-brand-wrapper {
  background: dimgray;
  border-bottom: 1px solid darkorange;
}

.bootstrap-select {
  width: 90% !important;
}

.filter-option-inner-inner, .bs-caret {
  font-size: 1em !important;
}

.dropdown-menu {
  font-size: 1em !important;
}

.dropdown-menu.show {
  min-width: 250px !important;
}

.btn-flex {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.btn-flex .btn:first-child {
  flex-grow: 1;
  /* Alinear texto 'Consultar' a la izq. del split button */
  /*text-align: left;*/
}

#dropdown-options {
  transform: translate3d(0px, 34px, 0px) !important;
  min-width: 0px !important;
}

#dropdown-options li {
  display: inline-block;
  vertical-align: top;
  float: left;
}

#dropdown-options .opt-lbl {
  width: 90%;
  /* Dado que el texto 'Ver tabla de búsqueda' es largo, no conviene alinear todos a la izq. */
  /*padding-left: 18%;*/
  /* Update: Originalmente, la tabla se iba a mostrar en un modal. Pero como es siempre visible en el layout
  esta opción ya no es necesaria en el dropdown ni en el menú de acciones en la parte inferior del sidebar
  Nota: también se quitó style="padding-left: 5px;" en <a> del <li> AGREGAR CAPA del dropdown */
  /*text-align: center;*/
  padding-left: 20%;
}

.opt-lbl-text {
  color: indianred;
}

.opt-lbl-text:hover {
  color: #fd0c39;
}

#dropdown-options .opt-tooltip {
  width: 10%;
  font-family: helvetica;
  text-align: center;
}

#div-rbtns {
  display: flex;
  color: lightgray;
}

#div-rbtns-or {
  padding-left: 25px;
}

#div-rbtns-and {
  padding-left: 5px;
}

.tbl-blue-th {
  text-align: center;
  background-color: #32323d;
}

#myDataTable tr td:nth-child(4) { /* Totals column */
  text-align: center;
  font-weight: bold;
}

#myDataTable tr td:nth-child(5), #myDataTable tr td:nth-child(6)  { /* Edit/delete row buttons */
  text-align: center;
}

tbody tr td {
  padding: 10px !important; /* Padding default in style.css is 15px */
}

#map {
  margin-top: 1.5rem;
  border: 1px solid dimgray;
  border-radius: 2px;
  height: 500px;
  max-height: 500px;
}

.text-purple-darken {
  color: #8e24aa;
}

.text-hot-pink {
  color: hotpink;
}

.label-options {
  cursor: pointer;
}

.marker-table-td-col {
  width: 40%;
  text-align: right;
  text-transform: uppercase; /* Column name in query should be already uppercase but just in case */
}

.marker-table-td-value {
  width: 60%;
  text-align: justify;
  text-transform: uppercase;
}

#p-googlemaps {
  margin: 0px;
}

#a-googlemaps {
  font-size: 1em;
}

#accordion-help .card-body {
  text-align: justify !important;
}

#accordion-help a:hover {
  color: #8e24aa !important;
}

#ul-pregunta-1 {
  margin-left: 1rem;
}