/* STYLES ADDED BY DAVID OSORIO */

.navbar-brand-wrapper {
  background: dimgray;
  border-bottom: 1px solid darkorange;
}

.bootstrap-select {
  width: 90% !important;
}

.filter-option-inner-inner, .bs-caret {
  font-size: 1em !important;
}

.dropdown-menu {
  font-size: 1em !important;
}
.dropdown-menu.show {
  min-width: 250px !important;
}

.btn-flex {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.btn-flex .btn:first-child {
  flex-grow: 1;
  /* Alinear texto 'Consultar' a la izq. del split button */
  /*text-align: left;*/
}

#dropdown-options {
  transform: translate3d(0px, 34px, 0px) !important;
  min-width: 0px !important;
}

#dropdown-options li {
  display:inline-block;
  vertical-align: top;
  float: left;
}

#dropdown-options .opt-lbl {
  width: 90%;
  /* El texto 'Ver tabla de búsqueda' y 'FAQ' es largo así que no conviene alinearlo a la izq. */
  /*padding-left: 18%;*/
  text-align: center;
}

.opt-lbl-text {
  color: indianred;
}

.opt-lbl-text:hover {
  color: #fd0c39;
}

#dropdown-options .opt-tooltip {
  width: 10%;
  font-family: helvetica;
  text-align: center;
}

#div-rbtns {
  display: flex;
  color: lightgray;
}

#div-rbtns-or {
  padding-left: 25px;
}

#div-rbtns-and {
  padding-left: 5px;
}