/* STYLES ADDED BY DAVID OSORIO */

.navbar-brand-wrapper {
  background: dimgrey;
  border-bottom: 1px solid darkorange;
}

.bootstrap-select {
  width: 90% !important;
}

.filter-option-inner-inner, .bs-caret {
  font-size: 1em !important;
}

.dropdown-menu {
  font-size: 1em !important;
}
.dropdown-menu.show {
  min-width: 250px !important;
}

.btn-flex {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.btn-flex .btn:first-child {
  flex-grow: 1;
  /* Alinear texto 'Consultar' a la izq. del split button */
  /*text-align: left;*/
}

#dropdown-options {
  transform: translate3d(0px, 34px, 0px) !important;
  min-width: 0px !important;
}

#dropdown-options li {
  display:inline-block;
  vertical-align: top;
  float: left;
}